{% extends 'recoLayout.jinja2.html' %}
{% from 'util.jinja2.html' import link_tag, js_tag %}

{% block title %}About this page{% endblock %}

{% block css %}
        {{ link_tag('main') }}
{% endblock %}

{% block body%}

Movie Recommendation based on  the MovieLens dataset.
<br>
Uses adjusted cosine based item-similarity collaborative filtering to predict movies. 
This prototype uses Python/Flask with Twitter Bootstrap rendering. 
<br>
The item-based similarity table and the user inputs are stored using a MongoDB database, 
manipulated through pyMongo. 
<br> Backend data wrangling, and simmilarity table building were done with heavy use of
mumpy. scipy and pandas. 


<br>
<i class="icon-leaf"></i>  Sudeep Das 
{% endblock %}
